:root {
  --verde-principal: #2e7d32;
  --verde-claro: #66bb6a;
  --fundo: #f9f9f9;
  --texto: #333;
  --branco: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--fundo);
  color: var(--texto);
  height: 100vh;
}

.imagemSecretaria {
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.imagemSecretaria img {
  width: 60%;
  height: 60rem;
}

.header .secretario {
  padding: 1rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.secretario img {
  width: 20rem;
  border: 10px solid #2e7d32;
  border-radius: 50%;
  padding: 3px;
}

.informacao {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.informacao .descricao {
  width: 600px;

}

.informacao h1 {
  color: #2e7d32;
  font-weight: 900;
  font-size: 2.3rem;
}

.setores {
  text-align: center;
  color: #2e7d32;
  font-weight: 900;
  font-size: 2rem;
}

footer {
  background-color: var(--verde-principal);
  color: var(--branco);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: 2rem;
}

